* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto';
}
.outer-container
{
    
    color: black;
    height: 400px;
    background-color: #FFD100;
    position: relative;
    bottom: 0;
    width: 100%;
}
.fa {
  padding:20px;
}
li{
  list-style-type: none;
}
.logo
{
 

  float: left;

  

}
.logo img{

  height: 70px;
  
}

.social-icons
{
 

 top:100px;
 left: 0px;

 float: right;

padding-left: 0px;

 width: 100%;
}
.social-icons a
{
  font-size: 30px;    
  color: black;


}
.fa:hover {
  color: white;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 1px 1px  black;
}
.termsconditions
{
 
  width: 100%;
  text-align: center;
  position: absolute;
  font-size: 18px;
  bottom: 0px;
  
}
