.App {
    width: 100vw;
    height: 10vh;
}

body {
    margin: 0;
    padding: 0;
}

.Navbar {
    background-color: #FFD100;
    width: 100%;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: fixed; */
}

.Navbar .leftSide {
    flex: 50%;

}

.Navbar .leftSide .logo {
    /* height: undefined;
    width: undefined; */
    /* max-height: 50px; */
    border-color: transparent;
    background-color: transparent;
    padding: 10px;
    margin-left: 15px;
    margin-top: auto;
    
}

.Navbar .leftSide .logo img{
    /* margin-left: 25px; */
    /* height: 40px; */
    margin-left: 35px;
    height: 50px;
}

.Navbar .rightSide {
    flex: 50%;
}

.Navbar .rightSide .loginBtn {
    width: 80px;
    height: 30px;
    border-radius: 25px;
    border-style: hidden;
    background-color: black;
    color: #FFEC1F;
    justify-content: center;
    margin-top: 15px;
    float: right;

}

.Navbar .rightSide .cartIcon {
    width: 80px;
    height: 60px;
    size: 10x;
    margin-right: 15px;
    margin-top: auto;
    float: right;
    background-color: transparent;
    border-color: transparent;
}