.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



  .searchBox {
    display: flex;
    padding: 30px;
    border-radius: 20px;
    justify-content: left;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
}

.textBox {
    border-style: solid;
    border-color: #FFD100;
    float: right;
    width: 400px;
    height: 40px;
    border-radius: 7px;
    margin-left: 3%;
    text-align: left;
    align-items: center;
}

.searchBtn {
    float: left;
    border-style: hidden;
    border-radius: 30px;
    border-left: none;
    background: #FFD100;
    justify-content: center;
    margin-left: 10px;
    padding: 5px;
    width: 200px;
    height: 40px;
    font-size: inherit;
    font-weight: bold;
}
